---
import Logo from "./ui/Logo.astro";
import { COMPANY } from "@/config/config";
import { Phone, Menu } from "lucide-react";
---

<header
  class="bg-background/95 flex-grow font-sans shadow-md border-b border-border sticky top-0 z-50"
>
  <!-- Navegación principal -->
  <div class="container mx-auto px-2">
    <div class="flex items-center justify-between h-20">
      <!-- Logo y nombre de la empresa -->
      <a href="/" class="flex items-center gap-3">
        <Logo size={"sm"} />
        <span class="text-2xl font-bold text-chambray-800">{COMPANY.name}</span>
      </a>

      <!-- Navegación para pantallas grandes -->
      <nav class="hidden lg:flex gap-8">
        <a
          href="/#services"
          class="font-medium text-lg hover:text-accent transition-colors"
          >Servicios</a
        >
        <a
          href="/#why-us"
          class="font-medium text-lg hover:text-accent transition-colors"
          >Por qué elegirnos</a
        >
        <a
          href="/#faq"
          class="font-medium text-lg hover:text-accent transition-colors"
          >Preguntas frecuentes</a
        >
        <a
          href="/#contact"
          class="font-medium text-lg hover:text-accent transition-colors"
          >Contacto</a
        >
      </nav>

      <!-- Contacto y CTA para pantallas grandes -->
      <div class="hidden lg:flex items-center gap-6">
        <a href={`tel:${COMPANY.phone}`} class="flex items-center gap-4 group">
          <Phone className="text-accent-foreground" />
          <span
            class="text-lg font-bold group-hover:text-accent transition-colors"
            >{COMPANY.phone_display}</span
          >
        </a>
        <a
          href={`tel:${COMPANY.phone}`}
          class="bg-accent-foreground text-white px-5 py-2 rounded font-bold hover:bg-accent transition-colors whitespace-nowrap"
        >
          Llamar Ahora
        </a>
      </div>

      <!-- Botón de menú para móviles -->
      <div class="lg:hidden flex items-center">
        <button
          id="menu-toggle"
          type="button"
          class="p-2 rounded-md hover:bg-accent/20 transition-colors"
          aria-controls="mobile-menu"
          aria-expanded="false"
        >
          <span class="sr-only">Abrir menú principal</span>
          <Menu className="h-6 w-6" />
        </button>
      </div>
    </div>
  </div>

  <!-- Menú desplegable para móviles -->
  <div id="mobile-menu" class="hidden lg:hidden">
    <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3 border-t border-border">
      <a
        href="/#services"
        class="block px-3 py-2 rounded-md text-base font-medium hover:bg-accent/20"
        >Servicios</a
      >
      <a
        href="/#why-us"
        class="block px-3 py-2 rounded-md text-base font-medium hover:bg-accent/20"
        >Por qué elegirnos</a
      >
      <a
        href="/#faq"
        class="block px-3 py-2 rounded-md text-base font-medium hover:bg-accent/20"
        >Preguntas frecuentes</a
      >
      <a
        href="/#contact"
        class="block px-3 py-2 rounded-md text-base font-medium hover:bg-accent/20"
        >Contacto</a
      >
    </div>
    <div class="pt-4 pb-3 border-t border-border">
      <div class="flex items-center justify-center px-5 gap-4">
        <Phone className="text-accent-foreground" />
        <div class="text-lg font-bold">{COMPANY.phone_display}</div>
      </div>
      <div class="mt-3 px-2 space-y-1">
        <a
          href={`tel:${COMPANY.phone}`}
          class="block text-center bg-accent-foreground text-white px-5 py-2 rounded font-bold hover:bg-accent transition-colors whitespace-nowrap"
        >
          Llamar Ahora
        </a>
      </div>
    </div>
  </div>
</header>

<script>
  const menuToggle = document.getElementById("menu-toggle");
  const mobileMenu = document.getElementById("mobile-menu");

  if (menuToggle && mobileMenu) {
    menuToggle.addEventListener("click", () => {
      const isExpanded = menuToggle.getAttribute("aria-expanded") === "true";
      mobileMenu.classList.toggle("hidden");
      menuToggle.setAttribute("aria-expanded", String(!isExpanded));
    });

    // Cierra el menú al hacer clic en un enlace
    const links = mobileMenu.querySelectorAll("a");
    links.forEach((link) => {
      link.addEventListener("click", () => {
        mobileMenu.classList.add("hidden");
        menuToggle.setAttribute("aria-expanded", "false");
      });
    });
  }
</script>
